.calculator {
  height: 400px;
  width: 600px;
  border: 1px solid black;
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_section {
  height: 100%;
  width: 100%;
}

button {
  height: 30%;
  width: 15%;
}
